__pycache__/

.vscode/

*.egg-info/

foobar_gamestop/data/raw/*.csv
foobar_gamestop/data/db

.pdb-pyhist

.ipynb_checkpoints

*-checkpoint.ipynb
deploy/charts/.DS_Store
deploy/kafka-connect/.DS_Store
microservices/finnhub_producer/.DS_Store
deploy/dryrun.yaml
deploy/.DS_Store

data/
*.pth
